@import "colors";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .register__box {
    padding: 2em;
    background-color: $bg-color;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    h2 {
      color: white;
    }
  
  
    .form__control {
      label {
        color: white;
      }
    }
  }

}

a {
  color: white !important;
}